<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House votes '85</title>
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Which party?</h1>
    <div>
        <form method="post" action="{{url_for('predict')}}">
            <label for="adoption-for-the-budget-resolution">adoption for the budget resolution</label><br>
            <input type="radio" name="adoption-for-the-budget-resolution" id="yes" value="1">yes 
            <input type="radio" name="adoption-for-the-budget-resolution" id="no" value="0">no<br>
            <label for="physician-fee-freeze">physician fee freeze</label><br>
            <input type="radio" name="physician-fee-freeze" id="yes" value="1">yes 
            <input type="radio" name="physician-fee-freeze" id="no" value="0">no<br>
            <input type="submit" value="predict" class="btn btn-primary btn-block">
        </form>
    </div>
    {{prediction}}
</body>
</html>